*{

    margin: 0;
    padding: 0;
}
/*navbar-section*/

body {

    background-color: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%); 
    font-family: Arial, Helvetica, sans-serif;
    width: 1600px;
    margin: 0;
    border: none;
    box-sizing: border-box;
    height: auto;
}

main {
    position: relative;
    width: 1600px;
    height: auto;
    top: 50px;
    box-sizing: border-box;
    

}

.nav {
    position: relative;
    width: 100%;
    height: 60px;
    top: 50px;
    display: flex;
    padding-right: 40px;
    align-items: center;
    margin-left: 240px;
    
}
/*navbar-logo*/
    .logo {
        position: relative;
        width: 49px;
        height: 35px;
        display: flex;
        align-items: baseline;        

    }

    .nav-logo1 {

        width: 20px;
        height: 20px;
        background: #9C69E2;
        border-radius: 20px;
        margin-right: 9px;
        
    }

    .nav-logo2 {

        width: 20px;
        height: 35px;
        background: #F063B8;
        border-radius: 20px;
        
    }
/*navbar-list*/
    .list  {

            width: 322px;
            height: 30px;
            left: 410px;
            top: 75px;
            display: flex;
            list-style: none;
        
    }

    .list li:first-child {

        color: #212353;
    }

    li:nth-child(n + 2) {

        color: #4B5D68;
    }

    a {
    
        padding: 0 40px;
        text-decoration: none;
        text-transform: none;
        color: inherit;
        display: flex;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;

    }

/*navbar-button1*/

    .button1 {
        
        position: relative;
        width: 210px;
        height: 60px;
        left: 508px;
        background: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        border-radius: 50px;
        border: none;
        color: #212353;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav-img5 {

            width: 16px;
            height: 10px;
            margin-left: 20px;
            margin-top: 2px;

    }

/*middle-section*/

.middle {
    
    width: 1600px;
    box-sizing: border-box;
    display: flex;

}

    .middle-text {

        position: relative;
        width: 645px;
        max-height: 464px;
        margin-left: 240px;
     
    }

    .middle-text1 {

        width: 645px;
        height: 184px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 110%;
        display: flex;
        align-items: center;
        color: #212353;
        margin-top: 130px;

    }

    .middle-text2 {

        width: 380px;
        max-height: 120px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #4B5D68;
        margin-top: 50px;

    }

    .button2 {
        
        width: 170px;
        height: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;       
        font-size: 18px;      
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        background: #9C69E2;
        border-radius: 50px;
        border: none;
        margin-top: 66px;
        justify-content: center;
    }

    .middle-img {

        position: absolute;
        width: 885px;
        height: 468px;
        top: 336px;
        margin-left: 603px;

    }

/*bottom-section*/

.bottom {

    position: absolute;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin-top: 99px;
    display: flex;
}

    .bottom-picture {

        width: 477px;
        height: 504px;
        left: 251px;
        top: 935px;
    }

    .bottom-text1 {

        width: 475px;
        height: 100px;
        left: 790px;
        top: 1028.18px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 130%;
        align-items: center;
        color: #212353;
        margin-top: 125px;
        margin-left: 62px;
    }

    .bottom-text2 {

        width: 474px;
        height: 170px;
        left: 790px;
        top: 1168.18px;

        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #4B5D68;
        margin-top:  40px ;
        margin-left: 62px;

    }
/*features section*/

.features {

    position: relative;
    width: 100%;
    height: auto;
    left: 220px;
    top: 1200px; 
    

}

.ftr-h2 {

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    left: 596px;
    color: #212353;
    position: relative;
    
}

.ftr-text {

    width: 584px;
    height: 58px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 50px;
    position: relative;
    left: 400px;
    white-space: pre-line;
    text-align: center;
}
/*article section*/

.article {

    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 1130px;  
    margin-top: 70px;

}

.ar1 {

    position: relative;
    width: 530px;
    height: 240px;
    left: 60px;
    display: flex;
    
}

.ar2 {

    position: relative;
    width: 530px;
    height: 240px;
    left: 190px;
    display: flex;

}

.ar3 {

    position: relative;
    width: 530px;
    height: 240px;
    left: 50px;
    display: flex;

}

.ar4 {

    position: relative;
    width: 530px;
    height: 240px;
    left: 200px;
    display: flex;

}
 .ar h3 {

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
    padding-left: 30px;
    margin-bottom: 20px;

 }

 .ar p {

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    padding-left: 30px;

 }

 .ar-vector {

    position: relative;
    width: 200px;
    height: 26px;
    margin-top: 20px;
    padding-left: 30px; 
    
 }

 .ar-vector-img {

    padding-top: 10px;
    padding-left: 20px;
    width: 20px;
    height: 14px;
 }

 .ar3 p {

    padding-bottom: 60px;
 }

 /*biog section*/

.biog {

    position: relative;
    width: 1118px;
    height: 709px;
    left: 242px;
    top: 1400px;
    background: #9C69E2;
    border-radius: 50px;

}

.biog-title {
    
    padding-top: 109px;
    padding-left: 93px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.biog-box {

    width: 949px;
    height: 330px;
    margin-top: 88px;
    margin-left: 93px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;

}

.biog-box h4 {

    width: 300px;
    height: 29px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    padding-top: 80px;
    padding-left: 101px;
}

.biog-box h6 {

    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
    padding-left: 240px;

}

.biog-box p {

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    padding-left: 280px;
    padding-top: 20px;

}

.biog-box h4::before {

    content: url(./img/Ellipse\ 76.png);
    padding-right: 44px;
}

.biog-slide {
    
    position: relative;
    display: inline-flex;
    margin-left: 53px;
    margin-top: 63px;
    box-sizing: border-box;
    align-items: center;
        
}
.point {
    
    color: #FFFFFF;
    padding: 0 5px;

}

.biog1 {

    width: 0px;
    height: 10px;
    color: #F063B8;
    background: #F063B8;
    border-radius: 50px;
    margin-top: 3px;
        
}

.biog4 {

    margin-right: 714px;
}

.biog-vector1 {

    width: 30px;
    height: 14px;
    color: #FFFFFF; 
    font-size: 30px; 
    margin-right: 20px; 

}

.biog-vector2 {

    width: 20px;
    height: 14px;
    color: #c5afe4;
    opacity: 0,5;
    font-size: 30px;

}

.biog3vector {

    display: inline-flex;
    margin-top: -20px;

}

/*footer-section*/

.footer {

    position: relative;
    width: 1600px;
    height: 700px;
    top: 1400px;
    margin-top: 150px;
    box-sizing: border-box;

}

.footer-line {

    position: relative;
    width: 1600px;
    height: 2px;
    background: #9C69E2;
    opacity: 0.2;

}

/*footer title*/

.button03 {

    position: relative;
    width: 170px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;    
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #F063B8;;
    border-radius: 50px;
    border: none;
    margin-top: 121px;


}

.button01 {

    position: relative;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    color: #212353;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 121px;
}

.footer-title {

    display: inline-flex;
    margin-left: 240px;
    justify-content: space-between;
    
}

.footer-title div {

    margin-right: 402px;
}

.footer-h2 {

    position: relative;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    align-items: center;    
    color: #212353;
    margin-top: 100px;
    padding-bottom: 20px;

}

.footer-p {

    font-family: 'Avenir';
    font-style: normal;
    font-size: 18px;
    color: #4B5D68;

}

/*footer bottom*/

.footer-bottom {

    position: relative;
    
    margin-left: 240px;
    margin-top: 153px;
    display: flex;


}

.footer-bottom span {

    position: relative;
    display: flex;
    align-items: center;
    
            
}

.footer-h4 {

    font-family: Avenir;
    font-style: normal;
    font-size: 20px;
    line-height: 160%;    
    color: #212353;
    margin-left: 20px;
    
}

.footer-ul {

    position: relative;
    display: flex;
    

}
li {
    list-style: none;
    width: 166px;
    font-family: 'Aveni'r;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    margin-right: 100px;
}

.footer-p1 {

    width: 335px;
    height: 65px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    white-space: pre-wrap;
    margin-top: 61px;
}

.footer-a1 {

    width: 335px;
    height: 60px; 
    font-family: 'Aveni'r;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    white-space: pre-wrap;
    padding-left: 0;
    margin-top: 10px;

}

.footer-p2 {

    width: 360px;
    height: 50px;    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
    margin-top: 118px;
    white-space: pre-wrap;
}

.footer-img {

    display: flex;
    margin-left: -40px;
    margin-top: 30px;
    margin-bottom: 228px;
    
}

.footer-img div {

    width: 50px;
    height: 50px;
    margin-right: 14px;
}

.footer-img64 {

    margin-left: 100px;

}